*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:Arial, Helvetica, sans-serif;
    text-decoration:none;
}

body{
    background-image:url("../images/bg-home.png");
    background-size:cover;
    background-position:center;
    background-repeat:no-repeat;

    min-height:100vh;

    overflow-y:auto;
    overflow-x:hidden;
}

/* =========================
   ANIMAÇÃO ENTRADA
========================= */

.header,
.sidebar,
.widgets,
.post-card{
    animation:fadeUp 0.7s ease;
}

.post-card:nth-child(2){
    animation-delay:0.15s;
}

@keyframes fadeUp{

    from{
        opacity:0;
        transform:translateY(30px);
    }

    to{
        opacity:1;
        transform:translateY(0);
    }

}

/* HEADER */

.header{
    position:fixed;

    top:18px;
    left:18px;
    right:18px;

    height:72px;

    background:rgba(255,255,255,0.35);

    backdrop-filter:blur(14px);

    border-radius:26px;

    padding:0 30px;

    display:flex;
    align-items:center;
    justify-content:space-between;

    box-shadow:0 8px 25px rgba(0,0,0,0.08);

    z-index:1000;
}

.header-left{
    display:flex;
    align-items:center;
    gap:20px;
}

.menu-icon{
    font-size:25px;
    color:#333;

    cursor:pointer;
}

.header-logo{
    width:170px;
}

.search-box{
    width:45%;
    position:relative;
}

.search-box input{
    width: 100%;
    height: 52px;
    border: none;
    outline: none;
    border-radius: 30px;
    background: #e5e5e5;
    padding: 0 55px 0 22px;
    font-size: 15px;
    color: #000;
}

.search-box i{
    position:absolute;

    right:20px;
    top:50%;

    transform:translateY(-50%);

    font-size:18px;

    color:#333;
}

.header-icons{
    display:flex;
    align-items:center;
    gap:20px;
}

.notification{
    font-size:22px;
    cursor:pointer;
}

.header-profile{
    display:flex;
    align-items:center;
    gap:10px;
}

.profile-pic{
    width:48px;
    height:48px;

    border-radius:50%;

    object-fit:cover;

    cursor:pointer;
}

/* MAIN */

.main-container{
    display:flex;
    gap:22px;

    padding:110px 18px 18px 18px;

    min-height:100vh;
}

/* SIDEBAR */

.sidebar{
    width:250px;

    height:calc(100vh - 128px);

    background:rgba(255,255,255,0.80);

    backdrop-filter:blur(15px);

    border:1px solid rgba(255,255,255,0.3);

    border-radius:28px;

    padding:18px;

    display:flex;
    flex-direction:column;
    justify-content:space-between;

    box-shadow:0 10px 30px rgba(0,0,0,0.08);
}

.sidebar ul{
    list-style:none;
}

.sidebar li{
    height:60px;

    display:flex;
    align-items:center;
    gap:14px;

    padding:0 18px;

    border-radius:18px;

    cursor:pointer;

    transition:0.3s;

    color:#243232;

    font-size:17px;
    font-weight:500;

    margin-bottom:12px;
}

.sidebar li i{
    font-size:18px;
}

.sidebar li:hover{
    background:rgba(255,255,255,0.35);

    transform:translateX(4px);
}

.sidebar .active{
    background:#cbe8d8;

    box-shadow:0 5px 15px rgba(0,0,0,0.05);
}

/* PERFIL SIDEBAR */

.sidebar-bottom{
    display:flex;
    flex-direction:column;
    gap:15px;
}

.sidebar-profile{
    background:rgba(255,255,255,0.4);

    border-radius:22px;

    padding:14px;

    display:flex;
    align-items:center;
    gap:14px;

    box-shadow:0 5px 15px rgba(0,0,0,0.05);
}

.sidebar-profile img{
    width:58px;
    height:58px;

    border-radius:50%;

    object-fit:cover;
}

.sidebar-profile h4{
    font-size:16px;
    margin-bottom:4px;
}

.sidebar-profile span{
    font-size:14px;
    color:#5c6d6d;
}

/* BOTÃO SAIR */

.logout{
    height:52px;

    border:none;

    border-radius:18px;

    background:rgba(255,255,255,0.35);

    cursor:pointer;

    font-size:15px;
    font-weight:600;

    transition:0.3s;

    display:flex;
    align-items:center;
    justify-content:center;
    gap:10px;
}

.logout:hover{
    background:#cbe8d8;

    transform:translateY(-2px);

    box-shadow:0 10px 25px rgba(115,185,143,0.35);
}

/*teste*/

.project-members{
    margin-top:25px;

    background:rgba(255,255,255,.25);

    backdrop-filter:blur(15px);

    border-radius:22px;

    padding:25px;

    border:1px solid rgba(255,255,255,.3);

    box-shadow:0 10px 30px rgba(0,0,0,.08);
}

.members-header{
    display:flex;

    justify-content:space-between;

    align-items:center;

    margin-bottom:10px;
}

.invite-member-btn{
    border:none;

    background:#86b95f;

    color:white;

    padding:10px 15px;

    border-radius:12px;

    cursor:pointer;
}

.member-card{
    display:flex;

    align-items:center;

    gap:15px;

    padding:12px 0;

    border-bottom:1px solid rgba(0,0,0,0.08);
}

.member-card img{
    width:48px;
    height:48px;

    border-radius:50%;

    object-fit:cover;
}

.member-info{
    flex:1;
}

.member-info h4{
    margin-bottom:4px;
}

.member-email{
    color:#666;
    font-size:14px;
}

.create-project-card{
    background: rgba(255,255,255,0.25);
    backdrop-filter: blur(15px);

    border: 1px solid rgba(255,255,255,0.3);

    border-radius: 25px;

    padding: 25px;

    margin-bottom: 20px;
}

.form-row{
    display:grid;
    grid-template-columns:1fr 1fr;
    gap:20px;
    margin-bottom:20px;
}

/*teste*/

.create-project-card{
    background:rgba(255,255,255,.25);

    backdrop-filter:blur(15px);

    border:1px solid rgba(255,255,255,.3);

    border-radius:24px;

    padding:30px;

    width:100%;

    box-shadow:0 10px 30px rgba(0,0,0,.08);
}

/*text1*/

.preview-card,
.summary-card{
    background:rgba(255,255,255,.25);
    backdrop-filter:blur(15px);

    border-radius:22px;

    padding:20px;

    border:1px solid rgba(255,255,255,.3);
    box-shadow:0 10px 30px rgba(0,0,0,.08);
}

/*teste2*/

.project-preview{
    background:rgba(255,255,255,.25);
    backdrop-filter:blur(15px);

    border-radius:22px;
    padding:20px;

    box-shadow:0 10px 30px rgba(0,0,0,.08);
}

.project-preview h3{
    margin-bottom:15px;
}

.preview-card{
    background:white;

    border-radius:18px;
    padding:15px;

    box-shadow:0 5px 15px rgba(0,0,0,.05);
}

.preview-card img{
    width:10%;
    height:10px;

    object-fit:flex;

    border-radius:12px;

    margin-bottom:12px;
}

.preview-card h4{
    margin-bottom:8px;
}

.preview-card p{
    color:#666;
    font-size:14px;

    margin-bottom:12px;
}

.preview-tags{
    display:flex;
    gap:8px;
    flex-wrap:wrap;
}

.preview-tags span{
    background:#dce8e2; 
    color:#ffffff;

    padding:6px 12px;

    border-radius:10px;

    font-size:13px;
    font-weight:600;
}

.project-members{
    margin-top:25px;
}

.project-layout{
    display:grid;
    grid-template-columns: 1fr 330px;
    gap:25px;
    width:100%;
    align-items:start;
}

.project-main{
    display:flex;
    flex-direction:column;
    gap:20px;
}

.project-sidebar{
    display:flex;
    flex-direction:column;
    gap:20px;

    position:sticky;
    top:110px;
}

.create-project-card form{
    display:flex;
    flex-direction:column;
    gap:15px;
}

.create-project-card input,
.create-project-card textarea,
.create-project-card select{
    width:100%;

    border:none;

    outline:none;

    background:rgba(255,255,255,.65);

    padding:14px;

    border-radius:14px;

    font-size:15px;
}

.create-project-card textarea{
    resize:none;
    min-height:140px;
}

.upload-area{
    border:2px dashed #9ec8b4;

    border-radius:18px;

    padding:30px;

    text-align:center;

    background:rgba(255,255,255,.3);

    cursor:pointer;
}

.upload-area i{
    font-size:40px;

    color:#2f7a66;

    margin-bottom:10px;
}

.upload-area input{
    margin-top:15px;
}

.preview-project{
    background:white;

    border-radius:18px;

    padding:15px;

    margin-top:15px;
}

.preview-project img{
    width:100%;

    height:180px;

    object-fit:cover;

    border-radius:12px;

    margin-bottom:12px;
}

.preview-project h4{
    margin-bottom:8px;
}

.preview-project p{
    color:#666;
    font-size:14px;
}

.sidebar ul li a{
    display: flex;
    align-items: center;
    gap: 12px;
    text-decoration: none;
    color: inherit;
    width: 100%;
    height: 100%;
}