@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

html{
    font-size:clamp(14px, 0.9vw, 16px);
}

:root{

    --primary:#2D6A63;
    --secondary:#FF7A1A;

    --bg:#f5f7f7;

    --text:#21433d;
    --text-light:#7a8a86;

    --border:#dce7e3;

    --shadow:
        0 10px 35px rgba(0,0,0,0.08);

}

body{

    overflow-y:auto;

    font-family:'Poppins', sans-serif;

    background-image:url("../images/bgg-image.png");
    background-position:center;
    background-size:cover;
    background-repeat:no-repeat;
    background-attachment:fixed;

    transition:background 0.6s ease-in-out;

    position:relative;

    min-height:100vh;

    padding:120px 20px 40px;
}

.container{

    position:relative;

    z-index:2;

    width:100%;

    min-height:calc(100vh - 120px);

    max-width:1400px;

    margin:0 auto;

    display:flex;
    align-items:center;
    justify-content:center;

    gap:50px;

    padding:30px;

    flex-wrap:wrap;
}

.user-selector{

    background:rgba(255,255,255,0.8);

    border:1px solid rgba(255,255,255,0.5);

    backdrop-filter:blur(12px);

    border-radius:28px;

    padding:30px;

    box-shadow:var(--shadow);
}

.user-selector h2{

    text-align:center;

    margin-bottom:25px;

    color:var(--text);

    font-size:1.8rem;
}

.user-card{

    width:100%;

    border:none;

    background:#fff;

    border-radius:20px;

    padding:18px;

    margin-bottom:18px;

    display:flex;
    align-items:center;
    gap:16px;

    cursor:pointer;

    transition:0.35s ease;

    border:2px solid transparent;
}

.user-card:hover{

    transform:translateY(-4px);

    box-shadow:
    0 10px 25px rgba(0,0,0,0.08);
}

.user-card.active.aluno{

    border-color:#86c5aa;
    background:#edf9f2;
}

.user-card.active.professor{

    border-color:#ffb37d;
    background:#fff1e6;
}

.icon-box{

    width:58px;
    height:58px;

    border-radius:16px;

    display:flex;
    align-items:center;
    justify-content:center;

    font-size:22px;
}

.aluno .icon-box{

    background:#d8efe1;
    color:var(--primary);
}

.professor .icon-box{

    padding:15px;

    background:#ffe2cf;
    color:var(--secondary);
}

.user-info h3{

    font-size:1.4rem;
    color:var(--text);
}

.user-info span{

    font-size:0.9rem;
    color:var(--text-light);
}

/* CARD */

.register-card{

    width:100%;

    max-width:700px;

    min-width:0;

    background:rgba(255,255,255,0.82);

    backdrop-filter:blur(16px);

    border-radius:32px;

    padding:45px;

    box-shadow:var(--shadow);

    border:1px solid rgba(255,255,255,0.4);

    margin-right: 300px;
}

.logo-title{

    text-align:center;

    margin-bottom:35px;
}

.logo-title h1{

    font-size:2.4rem;

    color:var(--text);

    margin-bottom:8px;
}

.logo-title span{

    color:var(--secondary);
}

.logo-title p{

    color:var(--text-light);
}

/* INPUTS */

.input-group{

    margin-bottom:22px;
}

.input-group label{

    display:block;

    margin-bottom:10px;

    font-weight:600;

    color:var(--text);
}

.input-group label span{

    color:#ff4f4f;
}

.input-box{

    position:relative;
}

.input-box i{

    position:absolute;

    left:18px;
    top:50%;

    transform:translateY(-50%);

    color:#2D6A63;
}

.input-box input{

    width:100%;
    height:58px;

    border-radius:16px;

    border:2px solid var(--border);

    background:#fff;

    padding:0 55px;

    font-size:0.95rem;

    transition:0.5s;
}

.input-box input:focus{

    outline:none;

    border-color:#8ac5ad;

    box-shadow:
    0 0 0 5px rgba(138,197,173,0.18);
}

.show-password{

    position:absolute;

    right:60px;
    top:50%;

    transform:translateY(-50%);

    background:none;
    border:none;

    cursor:pointer;

    color:#ff7a1a;

    font-size:18px;
}

/* SENHA */

.password-rules{

    margin-top:-8px;
    margin-bottom:25px;

    display:flex;
    flex-direction:column;
    gap:6px;
}

.password-rules p{

    font-size:0.9rem;

    color:#7b8a86;

    display:flex;
    align-items:center;
    gap:8px;

    transition:0.3s;
}

.password-rules p.valid{

    color:#2ea44f;
}

/* BOTÃO */

.register-btn{

    width:100%;
    height:60px;

    border:none;

    border-radius:18px;

    background:linear-gradient(
        135deg,
        #ff8a32,
        #ff6f00
    );

    color:white;

    font-size:1.1rem;
    font-weight:700;

    cursor:pointer;

    transition:0.35s;
}

.register-btn:hover{

    transform:translateY(-3px);

    box-shadow:
    0 12px 25px rgba(255,122,26,0.35);
}

/* LOGIN */

.login-link{

    margin-top:25px;

    text-align:center;

    color:var(--text-light);
}

.login-link a{

    color:var(--secondary);

    font-weight:700;

    text-decoration:none;
}

/* RESPONSIVO */

@media(max-width:950px){

    body{
        padding:110px 15px 30px;
    }

    .container{

        flex-direction:column;

        justify-content:flex-start;

        min-height:auto;

        padding:20px;
    }

    .user-selector{

        width:100%;
        max-width:700px;
    }
}

@media(max-width:600px){

    .register-card{
        padding:30px 22px;
    }

    .logo-title h1{
        font-size:2rem;
    }

    .user-info h3{
        font-size:1.2rem;
    }

    .main-header{
        padding:0 20px;
    }
}

input[type="date"]::-webkit-calendar-picker-indicator{
    display:none;
}

.date-box{
    position:relative;
}

.calendar-icon{

    position:absolute;

    left:18px;
    top:50%;

    transform:translateY(-50%);

    color:#2D6A63;

    cursor:pointer;

    z-index:2;
}

.main-header{

    position:fixed;

    top:0;
    left:0;

    width:100%;

    height:77px;

    display:flex;
    align-items:center;
    justify-content:center;

    padding:0 55px;

    z-index:9999;

    backdrop-filter:blur(12px);

    background:rgba(255,255,255,0.8);

    border-bottom:1px solid rgba(255,255,255,0.1);
}

.logo-area{

    display:flex;
    align-items:center;

    z-index:10000;

    gap:12px;
}

.logo-area img{

    width:clamp(180px, 25vw, 290px);

    height:auto;

    position:relative;

    z-index:10000;

    filter:
    brightness(1.0)
    contrast(1.0)
    drop-shadow(0 0 12px rgba(255,255,255,0.1));

    opacity:1;

    object-fit:contain;
}